{% extends "base.html" %}
{% block confirm_order %}
{% load staticfiles %}

<header class="w3-bar w3-card" style="text-align: center; background-color: #4169E1">
    <h2>Order description</h2>
</header>
<br>
<div class="w3-container" style="height: 100%;">
    <div class="w3-cell-row">
        <b>Dish: </b> {{dish.name}} &nbsp;&nbsp;&nbsp;<span><b id="dish_price">{{dish.price}} €</b></span>
    </div>
    <br>
    <div class="w3-cell-row">
        <b>Ingredients: </b>
        <div class="w3-container">
            <form method="post">
                <!-- Set the CSRF token in the template -->
                {% csrf_token %}
                <div class="form-check" id="id_checkbox">
                    {% for ingredient in ingredients_list %}

                        <input type="checkbox" class="form-check-input" id="{{ingredient.obj.id}}" {% if ingredient.with == 1 %}checked{% endif %}>
                        <label class="form-check-label">{{ingredient.obj.name}}:  &nbsp;&nbsp;&nbsp; <b id="id_{{ingredient.obj.id}}" >{{ingredient.obj.price}} €</b></label>
                        <br>

                        
                    {% endfor %}
                    
                    <!-- <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">check 2</label> -->
                </div>
                {% if Note %}
                    <b>Note:</b>
                    <div class="w3-container">
                        <input type="text" class="form-control" value={{Note}}">
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <hr>
    <div class="w3-cell-row" style="text-align: right;">
        <div class="w3-container">
            <b>Total Price: </b> <b id="final_price">20</b> €
        </div>
    </div>
    <hr>
    <div class="w3-cell-row" style="text-align: right;">
        <div class="w3-container">
            <a type="button" class="btn-floating btn-li btn-sm btn-danger" href="/">Cancel</a>&nbsp;
            <a type="button" class="btn-floating btn-tw btn-sm" style="background-color: #4169E1; color: black;" href="/success">Order</a>
        </div>
    </div>

</div>
<script type="text/javascript">
    dish_price = parseFloat(document.getElementById('dish_price').textContent);
    checkbox_elems = document.getElementsByClassName('form-check-input');
    price = dish_price;
    for (let elem of checkbox_elems){
        if(elem.checked){
            price_elem = document.getElementById('id_'+elem.id);
            price+=parseFloat(price_elem.textContent)
        }
    }
    document.getElementById('final_price').textContent = price
</script>
{% endblock %} 